*{
  margin: 0;
  padding: 0;
}
html{

  box-sizing: border-box;

}
.header{
  display:flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
#nav{
  width:30px;
}
.main{
  display:flex;
  gap: 30px;
  padding: 0 50px;

}
.main-player{
  flex:1;
  height: 40vw;
}
#sidebar{
  width:30%;

}
.sidebar-item{
  display:flex;
  gap: 10px;
  
}
.sidebar-img{
  width:50%;
  
  
}
.sidebar-img img{
  width: 100%;
  border-radius: 15px;
}
.sidebar-discription{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.sidebar-discription p span{
  text-transform: uppercase;
  font-weight: 700;
}
.channel-avator{
  width:60px;
  height:60px;
}
.channel-avator img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 50%;
}
.video-dic{
  font-size: 18px;
  font-weight: 500;
  margin: 20px 20px;
}
.channel-profile{
  display:flex;
  gap: 10px;
  align-items: center;
  
}
.channel-dic{
  display:flex;
  gap: 30px ;
  align-items: center;
}
.subscribe{
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 3px;
  border:none;
  background-color:grey;
  color:white;
}
.youtube{
  border:none;
  background-color: grey;
  border-radius: 5px;
  padding: 0 5px;
}
.content-dic{
  margin: 20px 0;
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}
.content-count{
  font-size: 18px;
  margin-bottom: 10px;

}
.content-count span{
  text-transform: uppercase;
  font-weight: 700;
}
.count-btn{
  padding: 10px;
  border: none;
  background: none;

}
.content-dic:hover{
  background:#ddd
  
}

